
@import "_variables.scss";


body{
  font-family: arial;
  color: $color1;
}

ul {
    list-style-type: none;
}

a{
  text-decoration: none;
  color: $color1;
}

.container{
  width: 1200px;
  display: flex;
  margin: auto;
}

.container-2{
  width: 1600px;
  display: flex;
  margin: auto;

}


.column{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 45px;
  line-height: 1.4;
}

h2{
  font-size: 25px;
  line-height: 1.4;
}

.p-large{
  font-size: 25px;
  line-height: 1.5;
}

.p-small{
  font-size: 13px;
}
