@mixin debug {
  border: solid 1px;
}


$color1: #58402c;
$colorButtons: #30488f;

@mixin buttons {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background: $colorButtons;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
}
