@mixin debug {
  border: solid 1px;
}

@mixin p-large{
  font-size: 20px;
  line-height: 1.8;
}
@mixin p-small{
  font-size: 13px;
}
@mixin p-medium{
  font-size: 15px;
  line-height: 1.6;
}
@mixin h1{
  font-size: 45px;
  line-height: 1.4;
}

@mixin h2{
  font-size: 25px;
  line-height: 1.4;
}

@mixin linea{
  color: rgba(0,0,0,.08);
  margin: 50px 0;
  border-radius: 100%;
}



$color1: #58402c;
$colorButtons: #30488f;
$backgroundColor: #ffe7d2;

@mixin buttons {
  width: 190px;
  height: 35px;
  border-radius: 7px;
  background: $colorButtons;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 13px;

  &:hover{
    cursor: pointer;
  }
}
