@import "_common";
@import "_variables";



header{
  width: 100vw;
  position: fixed;
  height: 75px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.08);
  background: white;

  .header-nav{
    height: 100%;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .logo-nav{
      font-size: 25px;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 400;
      img{
        margin-right: 10px;
      }

    }

    .right-nav{


      ul{
        display: flex;
        align-items: center;

        li{
          margin: 0 15px;

          button{
            background: #30488f;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            border: none;

            a{
              color: white;
              font-size: 15px;
              font-weight: 600;
            }


          }


        }


      }
    }

  }

}

main{
  padding-top: 75px;
  // section understand
  .understand{

    @include padder;

    .column{
      flex-basis: 45%;
      justify-content: space-around;
      @include schemaButtons;

    }

    .img-understand{
      flex-basis: 55%;
      padding: 30px;
      img{
        width: 100%;
      }
    }
  }
  // section traditional
  .traditional{
    @include padder;
    background: $backgroundColor;
    .column{

      hr{
      @include linea;

      }

      .column{

        align-items: center;
        height: 800px;
        justify-content: space-around;


        h2{
          width: 630px;
          text-align: center;
        }

        .imgs-trad{
          display: flex;
          flex-direction: row;
          width: 700px;
          justify-content: space-between;

          .trad-boxes{
            width: 180px;
            text-align: center;


            img{
              width: 150px;

            }

            p{
              margin-top: 20px;
              width: 100%;
              @include p-medium;
            }

          }

        }

        img{
          width: 300px;
        }
      }
    }
  }
  // section feedback
  .feedback {

    @include padder;

    .feed-box{
      display: flex;
      margin: 50px 0;


      .meta-feed-1{
        padding: 30px;
        flex-basis: 55%;

        img{
          width: 100%;
        }
      }

      .meta-feed-2{
        display: flex;
        flex-basis: 45%;
        .quarto-feed{
          display: flex;
          flex-direction: column;
          flex-basis: 50%;
          justify-content: space-around;


          p{
            @include p-large;
          }

          img{
            width: 280px;
          }
        }
      }

      .reversed{
        flex-direction: row-reverse;
      }
    }
  }
  // sections yourself
  .yourself{
    padding: 75px;
    background-color: $backgroundColor;
    .container{
      align-items: center;
      height: 650px;
      justify-content: space-between;

      h1{
        font-size: 37px;
        width: 500px;
        text-align: center;
      }
      .lorem{
        width: 600px;
        padding: 30px;
        background: white;
        line-height: 1.5;
        border-radius: 7px;
        position: relative;
        border: solid 1px #00000075;

        .quote{
          position: absolute;
          font-size: 38px;
          top: -28px;
          left: 0px;
          color: $colorButtons;
        }

      }

      @include schemaButtons;

      a{
        @include p-small;
      }
    }
  }

}
// footer
footer{
  @include padder;



  .container{

      justify-content: space-between;

    .p-footer{
      font-size: 17px;
      font-weight: 600;
      line-height: 1.5;
    }

    span{
      font-weight: 600;
    }

    ul{

      li{
        max-width: 180px;
        margin: 15px 0;
        @include p-small;
      }
    }



  }

}
// button fixed
.fixed{
  @include buttons;

  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 0px 5px #0000ff8c;
  font-size: 24px;
  transition: all .1s;

  &:active{
    transform: scale(1.05)
  }

}


@import "_mediaquery";
