@import "_common";
@import "_variables";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100vw;
  position: fixed;
  height: 75px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.08);
  background: white;

  .header-nav{
    height: 100%;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .logo-nav{
      font-size: 25px;

    }

    .right-nav{


      ul{
        display: flex;
        align-items: center;

        li{
          margin: 0 15px;

          button{
            background: #30488f;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            border: none;

            a{
              color: white;
              font-size: 15px;
              font-weight: 600;
            }


          }


        }


      }
    }

  }

}

main{

  padding-top: 75px;

  // section understand
  .understand{

    padding: 75px 0;

    .column{
      flex-basis: 45%;
      justify-content: space-around;

      button{
        @include buttons;
      }
      .buttons{
        display: flex;
        align-items: center;

        p{
          margin: 0 15px;
        }
      }
    }

    .img-understand{
      flex-basis: 55%;
      padding: 30px;
      img{
        width: 100%;
      }
    }
  }

  // section traditional
  .traditional{
    padding: 75px 0;
    background: $backgroundColor;
    .column{

      hr{
      @include linea;

      }

      .column{

        align-items: center;
        height: 800px;
        justify-content: space-around;


        h2{
          width: 630px;
          text-align: center;
        }

        .imgs-trad{
          display: flex;
          flex-direction: row;
          width: 700px;
          justify-content: space-between;

          .trad-boxes{
            width: 180px;
            text-align: center;


            img{
              width: 150px;

            }

            p{
              margin-top: 20px;
              width: 100%;
              @include p-medium;
            }

          }

        }

        img{
          width: 300px;
        }
      }
    }
  }
  // section feedback
  .feedback {

    padding: 75px 0;

    .feed-box{
      display: flex;
      margin: 50px 0;


      .meta-feed-1{
        padding: 30px;
        flex-basis: 55%;

        img{
          width: 100%;
        }
      }

      .meta-feed-2{
        display: flex;
        flex-basis: 45%;
        .quarto-feed{
          display: flex;
          flex-direction: column;
          flex-basis: 50%;
          justify-content: space-around;

          h2{
            @include h2;
          }

          p{
            @include p-large;
          }

          img{
            width: 280px;
          }
        }
      }

      .reversed{
        flex-direction: row-reverse;
      }
    }
  }





}
