@import "_common";
@import "_variables";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100vw;
  position: fixed;
  height: 75px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.08);

  .header-nav{
    height: 100%;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .logo-nav{
      font-size: 25px;

    }

    .right-nav{


      ul{
        display: flex;
        align-items: center;

        li{
          margin: 0 15px;

          button{
            background: #30488f;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            border: none;

            a{
              color: white;
              font-size: 15px;
              font-weight: 600;
            }


          }


        }


      }
    }

  }

}

main{
  padding-top: 75px;

  .understand{
    padding-top: 75px;
    .column{

      justify-content: space-around;

      button{
        @include buttons;
      }
      .buttons{
        display: flex;
        align-items: center;

        p{
          margin: 0 15px;
        }
      }
    }

  }

  .img-understand{
    img{
      width: 100%;
    }
  }




}
